$font-stack: "Barlow", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  display: grid;
  grid-template-columns: 1.5rem minmax(327px, 327px) 1.5rem;
  margin-top: 1.5rem;
}

header {
  grid-column: 2/3;
  height: min-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;

  .header-preorder-btn {
    font-family: $font-stack;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #162542;
    border: none;
    border-radius: 8px;
    padding: 0.7em 0.9em;
    background: #e8eff2;
  }
}

.hero-section {
  grid-column: 2/3;
  margin-bottom: 4em;

  .hero-main-content {
    display: flex;
    flex-direction: column;

    .hero-main-content-title {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900;
      color: #162542;
      margin-bottom: 0.7em;
    }

    .hero-main-content-paragraph {
      color: #7b8bad;
      font-weight: 500;
      margin-bottom: 2em;
    }

    .btn-and-release-date {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .hero-preorder-btn {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        padding: 0.8em 0.9em;
        background: #f16718;
      }

      .hero-release-date {
        color: #7b8bad;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }

  .hero-image {
    display: none;
  }
}

.mobile-image-section {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1.5rem minmax(327px, 327px) 1.5rem;
  margin-bottom: 4.5em;

  .main-image {
    width: 100%;
    grid-column: 2/4;
    border-radius: 20px 0 0 20px;
    margin-bottom: 1.5em;
  }

  .secondary-images {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;

    .image-phone-and-keyboard {
      background: linear-gradient(
          rgba(241, 103, 24, 0.7),
          rgba(241, 103, 24, 0.7)
        ),
        url("/assets/mobile/image-phone-and-keyboard.jpg");
      background-size: cover;
      width: 30%;
      border-radius: 0 20px 20px 0;
    }

    .image-glass-and-keyboard {
      width: 60%;
      border-radius: 20px;
    }
  }
}

.general-info-section {
  grid-column: 2/3;
  text-align: center;
  margin-bottom: 6em;

  .title {
    color: #162542;
    text-transform: uppercase;
    font-size: 2em;
    width: 90%;
    margin: 0 auto;
  }

  .paragraph {
    margin-top: 1.5em;
    color: #7b8bad;
    font-weight: 500;
  }

  .images {
    display: none;
  }
}

.footer-section {
  grid-column: 2/3;
}
