$font-stack: "Barlow", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  display: grid;
  grid-template-columns: 1.5rem minmax(327px, 700px) 1.5rem;
  margin-top: 1.5rem;
}

@media (min-width: 740px) {
  body {
    grid-template-columns: 2.5rem auto 2.5rem;
    grid-template-rows: auto auto auto auto auto;
  }
}

header {
  grid-column: 2/3;
  height: min-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;

  .header-preorder-btn {
    font-family: $font-stack;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #162542;
    border: none;
    border-radius: 8px;
    padding: 0.7em 0.9em;
    background: #e8eff2;
  }
}

.hero-section {
  grid-column: 2/-1;
  margin-bottom: 1.5em;

  .hero-main-content {
    display: flex;
    flex-direction: column;
    padding-right: 1.5em;
    margin-bottom: 4em;

    .hero-main-content-title {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900;
      color: #162542;
      margin-bottom: 0.7em;
      max-width: 400px;
    }

    .hero-main-content-paragraph {
      color: #7b8bad;
      font-weight: 500;
      margin-bottom: 2em;
      max-width: 500px;
      line-height: 26px;
    }

    .btn-and-release-date {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .hero-preorder-btn {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        padding: 0.8em 0.9em;
        background: #f16718;
      }

      .hero-release-date {
        color: #7b8bad;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }

  .hero-image-container {
    .image-mobile {
      display: block;
      max-width: 100%;
      border-radius: 15px 0 0 15px;
    }
    .image-tablet,
    .image-desktop {
      display: none;
      border-radius: 20px;
    }
  }
}

@media (min-width: 740px) {
  .hero-section {
    grid-column: 2/-1;
    grid-row: 2/3;
    align-self: center;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: 1.1fr 3em 1fr;

    .hero-main-content {
      grid-column: 1/2;
      align-self: center;
    }

    .hero-image-container {
      grid-column: 3/-1;
      overflow: hidden;

      .image-mobile,
      .image-desktop {
        display: none;
      }

      .image-tablet {
        display: block;
        max-width: 150%;
        border-radius: 20px 0 0 20px;
      }
    }
  }
}

.general-info-section {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 6em;
  display: grid;
  grid-template-columns: 1.5rem auto 1.5rem;

  .general-info-content {
    margin-top: 4em;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: #162542;
      text-transform: uppercase;
      font-size: 2em;
      width: 90%;
      max-width: 500px;
    }

    .paragraph {
      margin-top: 1.5em;
      color: #7b8bad;
      font-weight: 500;
      line-height: 26px;
      max-width: 500px;
    }
  }

  .images {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;

    .image-phone-and-keyboard {
      background: linear-gradient(
          rgba(241, 103, 24, 0.7),
          rgba(241, 103, 24, 0.7)
        ),
        url("/assets/mobile/image-phone-and-keyboard.jpg");
      background-size: cover;
      background-position: right bottom;
      width: 30%;
      border-radius: 0 20px 20px 0;
    }

    .image-glass-and-keyboard {
      display: block;
      width: 60%;
      border-radius: 20px;
    }
  }
}

@media (min-width: 740px) {
  .general-info-section {
    grid-column: 2/3;

    .general-info-content {
      grid-column: 1/-1;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .title {
        text-align: left;
        width: 30%;
      }
      .paragraph {
        margin: 0;
        text-align: left;
        width: 60%;
      }
    }

    .images {
      grid-column: 1/-1;

      .image-phone-and-keyboard {
        border-radius: 20px;
      }
    }
  }
}

.features-section {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;

  .feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;

    .feature-icon {
      background: #f16718;
      width: 65px;
      height: 65px;
      border-radius: 16px;
      margin-bottom: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .feature-title {
      color: #162542;
      font-weight: 900;
      font-size: 1.5em;
      text-transform: uppercase;
      width: 60%;
      margin-bottom: 1em;
    }

    .feature-description {
      color: #7b8bad;
      font-weight: 500;
      line-height: 26px;
      max-width: 500px;
    }
  }
}

@media (min-width: 740px) {
  .features-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8.75em;

    .feature {
      align-items: flex-start;
      width: 45%;

      .feature-title {
        max-width: 215px;
      }

      .feature-title,
      .feature-description {
        text-align: left;
      }
    }
  }
}

.footer-section {
  grid-column: 2/3;
  text-align: center;
  margin-bottom: 3em;
  color: #7b8bad;

  .company-name {
    font-weight: 700;
    margin-right: 0.4em;
  }

  .rights {
    font-weight: 500;
    margin-left: 0.3em;
    text-transform: capitalize;
  }
}
