$font-stack: "Barlow", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  display: grid;
  grid-template-columns: 1.5rem minmax(327px, 700px) 1.5rem;
  margin-top: 1.5rem;
}

@media (min-width: 740px) {
  body {
    grid-template-columns: 2.5rem auto 2.5rem;
    margin-top: 2.5rem;
  }
}

@media (min-width: 1200px) {
  body {
    grid-template-columns: 8rem 2rem auto 2rem 8rem;
    overflow-x: hidden;
    margin-top: 3.4rem;
  }
}

button {
  transition: all 0.2s;
}

/***************
HEADER
*****************/

header {
  grid-column: 2/3;
  height: min-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;

  .header-preorder-btn {
    font-family: $font-stack;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #162542;
    border: none;
    border-radius: 8px;
    padding: 0.7em 0.9em;
    background: #e8eff2;
  }

  .header-preorder-btn:hover {
    background: #162542;
    color: #ffffff;
    cursor: pointer;
  }

  .header-preorder-btn:focus {
    background: #162542;
    color: #ffffff;
    outline: none;
  }
}

@media (min-width: 1200px) {
  header {
    grid-column: 3/4;
  }
}

/***************
HERO SECTION
*****************/

.hero-section {
  grid-column: 2/-1;
  margin-bottom: 1.5em;

  .hero-main-content {
    display: flex;
    flex-direction: column;
    padding-right: 1.5em;
    margin-bottom: 4em;

    .hero-main-content-title {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900;
      color: #162542;
      margin-bottom: 0.7em;
      max-width: 400px;
    }

    .hero-main-content-paragraph {
      color: #7b8bad;
      font-weight: 500;
      margin-bottom: 2em;
      max-width: 500px;
      line-height: 26px;
    }

    .btn-and-release-date {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .hero-preorder-btn {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        padding: 0.8em 0.9em;
        background: #f16718;
      }

      .hero-preorder-btn:hover {
        background: #ff9b62;
        cursor: pointer;
      }

      .hero-preorder-btn:focus {
        background: #ff9b62;
        outline: none;
      }

      .hero-release-date {
        color: #7b8bad;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }

  .hero-image-container {
    .image-mobile {
      display: block;
      max-width: 100%;
      border-radius: 15px 0 0 15px;
    }
    .image-tablet,
    .image-desktop {
      display: none;
      border-radius: 20px;
    }
  }
}

@media (min-width: 740px) {
  .hero-section {
    grid-column: 2/-1;
    grid-row: 2/3;
    align-self: center;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: 1.1fr 3em 1fr;

    .hero-main-content {
      grid-column: 1/2;
      align-self: center;
      max-width: 400px;
      padding: 0;
      margin: 0;
    }

    .hero-image-container {
      grid-column: 3/-1;
      overflow: hidden;

      .image-mobile,
      .image-desktop {
        display: none;
      }

      .image-tablet {
        display: block;
        width: 130%;
        border-radius: 20px 0 0 20px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero-section {
    grid-column: 3/4;

    .hero-main-content {
      .hero-main-content-title {
        font-size: 3.5rem;
      }

      .hero-main-content-paragraph {
        font-size: 1.125rem;
      }
    }

    .hero-image-container {
      .image-mobile,
      .image-tablet {
        display: none;
      }

      .image-desktop {
        display: block;
        width: 100%;
        border-radius: 20px;
      }
    }
  }

  .hero-side-rectangle {
    grid-column: 5/-1;
    grid-row: 2/3;
    background: #e8eff2;
    width: 255px;
    height: 240px;
    border-radius: 20px;
  }
}

/***************
GENERAL INFO SECTION
*****************/

.general-info-section {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 6em;
  display: grid;
  grid-template-columns: 1.5rem auto 1.5rem;

  .general-info-content {
    margin-top: 4em;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: #162542;
      text-transform: uppercase;
      font-size: 2em;
      width: 90%;
      max-width: 500px;
    }

    .paragraph {
      margin-top: 1.5em;
      color: #7b8bad;
      font-weight: 500;
      line-height: 26px;
      max-width: 500px;
    }
  }

  .images {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;

    .image-phone-and-keyboard {
      background: linear-gradient(rgba(241, 103, 24, 1), rgba(241, 103, 24, 1)),
        url("/assets/mobile/image-phone-and-keyboard.jpg");
      background-blend-mode: multiply;
      background-size: cover;
      width: 30%;
      border-radius: 0 20px 20px 0;
    }

    .mobile-image-glass-and-keyboard {
      display: block;
      width: 60%;
      border-radius: 20px;
    }

    .tablet-image-glass-and-keyboard,
    .desktop-image-glass-and-keyboard {
      display: none;
    }
  }
}

@media (min-width: 740px) {
  .general-info-section {
    grid-column: 2/3;

    .general-info-content {
      grid-column: 1/-1;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .title {
        text-align: left;
        width: 30%;
      }
      .paragraph {
        margin: 0;
        text-align: left;
        width: 55%;
      }
    }

    .images {
      grid-column: 1/-1;

      .image-phone-and-keyboard {
        background: linear-gradient(
            rgba(241, 103, 24, 1),
            rgba(241, 103, 24, 1)
          ),
          url("/assets/tablet/image-phone-and-keyboard.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        border-radius: 20px;
      }

      .tablet-image-glass-and-keyboard {
        display: block;
        width: 60%;
        border-radius: 20px;
      }

      .mobile-image-glass-and-keyboard,
      .desktop-image-glass-and-keyboard {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .general-info-section {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;

    .images {
      display: grid;
      grid-template-columns: 8rem 2.5rem 0.5fr 2rem 1fr;
      grid-template-rows: auto;
      width: 70%;

      .image-phone-and-keyboard {
        grid-column: 3/4;
        grid-row: 1/2;
        background: linear-gradient(
            rgba(241, 103, 24, 1),
            rgba(241, 103, 24, 1)
          ),
          url("/assets/desktop/image-phone-and-keyboard.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        border-radius: 20px;
        width: 100%;
      }

      .desktop-image-glass-and-keyboard {
        grid-column: 5/-1;
        grid-row: 1/2;
        display: block;
        width: 100%;
        border-radius: 20px;
      }

      .mobile-image-glass-and-keyboard,
      .tablet-image-glass-and-keyboard {
        display: none;
      }

      .general-info-side-rectangle {
        background: #e8eff2;
        width: 100%;
        height: 240px;
        border-radius: 0 20px 20px 0;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: end;
      }
    }

    .general-info-content {
      width: 20%;
      flex-direction: column;
      justify-content: center;
      margin: 0;

      .title {
        width: 100%;
        margin-bottom: 1em;
      }

      .paragraph {
        width: 100%;
      }
    }
  }
}

/***************
FEATURES SECTION
*****************/

.features-section {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;

  .feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;

    .feature-icon {
      background: #f16718;
      width: 65px;
      height: 65px;
      border-radius: 16px;
      margin-bottom: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .feature-title {
      color: #162542;
      font-weight: 900;
      font-size: 1.5rem;
      text-transform: uppercase;
      width: 60%;
      margin-bottom: 1em;
    }

    .feature-description {
      color: #7b8bad;
      font-weight: 500;
      line-height: 26px;
      max-width: 500px;
    }
  }
}

@media (min-width: 740px) {
  .features-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8.75em;

    .feature {
      align-items: flex-start;
      width: 45%;

      .feature-title {
        max-width: 215px;
      }

      .feature-title,
      .feature-description {
        text-align: left;
      }
    }
  }
}

@media (min-width: 1200px) {
  .features-section {
    grid-column: 3/4;
    flex-wrap: nowrap;
    margin-bottom: 8em;

    .feature {
      width: 23%;

      .feature-title {
        width: 100%;
      }

      .feature-description {
        width: 100%;
      }
    }
  }
}

/***************
FOOTER
*****************/

.footer-section {
  grid-column: 2/3;
  text-align: center;
  margin-bottom: 3em;
  color: #7b8bad;

  .company-name {
    font-weight: 700;
    margin-right: 0.4em;
  }

  .rights {
    font-weight: 500;
    margin-left: 0.3em;
    text-transform: capitalize;
  }
}

@media (min-width: 1200px) {
  .footer-section {
    grid-column: 3/4;
    margin-bottom: 2.5em;
  }
}
